


<!DOCTYPE html>
<html lang="en">
   <%- include('header'); -%>
   <body>

      <!-- Navigation -->
      <nav class="navbar navbar-light bg-light static-top">
         <div class="container-fluid">
            <img src="/pdflogo-web.png" alt="European Environment Agency" id="printLogo" class="lazy" style="" />
            <form action="/logout" method="GET">
               <button type="submit" class="btn btn-block btn-lg btn-secondary" data-toggle="popover" title="Logout" data-content="Click to logout"><%= username %></button>
               <!--<label><%= username %></label>-->
            </form>
         </div>
      </nav>
      <!-- Masthead -->
      <header class="masthead text-white text-center pt-5">
         <div class="overlay"></div>
         <div class="container-fluid">
            <div class="row">
               <div class="col-xl-9 mx-auto">
                  <h1 class="mb-2"><%= appHeading %></h1>
                  <h4 class="mb-4"><%= appSubHeading %></h4>
               </div>

               <div class="col-md-12 col-lg-12 col-xl-7 mx-auto">
                  <form method="POST" action="/">
                     <div class="form-row">
                        
                      <div class="col-12 col-md-12 mb-2 mb-md-2">

                           <div id="emails-input" ></div>

                           <input class="d-none form-control form-control-lg" placeholder="Recipient email" id="email" name="email" value="" />
                           <textarea class="form-control form-control-lg mt-2 exampleFormControlTextarea1" rows="8" placeholder="Insert your message in here .." id="message" name="message" value=""></textarea>


                           <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item mt-2" src="<%= folderName %>" allowfullscreen></iframe>
                           </div>
                        </div>
                        <!--<div class="btn btn-block btn-lg btn-primary mb-0" data-toggle="buttons">-->
                        <!--<div class="col-md-12 mb-0 mb-md-0">
                           <div class="container-fluid">-->

                           <script src="vendor/multiple-emails/js/lib/utils.js"></script>
                           <script src="vendor/multiple-emails/js/lib/emails-input.js"></script>
                           <script src="vendor/multiple-emails/js/app.js"></script>

                        <label class="col-md-3 btn btn-primary"> 
                        Retention time days
                        </label>
                        <label class="col-md-3 btn btn-secondary img-circle"> 
                          <input type="radio" name="retention" id="10d" autocomplete="off" value="10" checked /> 10 
                        </label>
                        <label class="col-md-3 btn btn-secondary">
                          <input type="radio" name="retention" id="30d" autocomplete="off" value="30" /> 30
                        </label>
                        <label class="col-md-3 btn btn-secondary">
                          <input type="radio" name="retention" id="90d" autocomplete="off" value="90" /> 90
                        </label>

                        <div class="input-group mb-2">
                            <label class="col-md-3 btn btn-primary"> 
                              Password
                            </label>
                            <script language="JavaScript">

                                function disableEnablePassword() {
                                  if (document.getElementById("password").disabled === true) {
                                    document.getElementById("password").disabled = false;
                                    document.getElementById("password").value = generatePassword();
                                  } else {
                                    document.getElementById("password").value = '';
                                    document.getElementById("password").disabled = true;
                                  }
                                }

                                function generatePassword(l){
                                    var pwd = '';
                                    var characters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
                                    for(var i = 0; i<25; i++){
                                        pwd += characters.charAt(Math.floor(Math.random() * characters.length));
                                    }
                                    return pwd;
                                }
                              
                            </script>

                            <div class="input-group-prepend">
                              <div class="md-3 mb-2 input-group-text">
                                <input type="checkbox" onclick="disableEnablePassword()" aria-label="Checkbox for following text input">
                              </div>
                            </div>

                            <input type="text" class="form-control" name="password" id="password" aria-label="Text input with checkbox" disabled="true">
                        </div>
                        
                        <div class="col-md-6">
                           <button type="submit" class="btn btn-block btn-lg btn-secondary" name="submitButton" value="startOver">Reset</button>
                        </div>
                        <div class="col-md-6">
                           <button type="submit" class="btn btn-block btn-lg btn-primary" name="submitButton" value="send" data-action='get-emails-count' >Send</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </header>
      <%- include('footer'); -%>
   </body>
</html>


